* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.stop-watch-container {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  border: 4px solid black;
  padding: 32px;
  border-radius: 12px;
}

.time {
  font-size: 4rem;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 60px;
}

button {
  font-size: 3rem;
  padding: 8px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.start-button {
  background-color: hsl(155, 100%, 40%);
}

.start-button:hover {
  background-color: hsl(155, 100%, 35%);
}

.stop-button {
  background-color: hsl(10, 90%, 50%);
}
.stop-button:hover {
  background-color: hsl(10, 90%, 45%);
}

.reset-button {
  background-color: hsl(205, 90%, 60%);
}

.reset-button:hover {
  background-color: hsl(205, 90%, 55%);
}
