* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.stop-watch-container {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  border: 4px solid black;
  padding: 62px;
  border-radius: 12px;
}

.time {
  font-size: 4rem;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 60px;
}

button {
  font-size: 3rem;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.start-button {
  background-color: hsl(155, 100%, 40%);
}

.start-button:hover {
  background-color: hsl(155, 100%, 35%);
}

.stop-button {
  background-color: hsl(10, 90%, 50%);
}
.stop-button:hover {
  background-color: hsl(10, 90%, 45%);
}

.reset-button {
  background-color: hsl(205, 90%, 60%);
}

.reset-button:hover {
  background-color: hsl(205, 90%, 55%);
}

.lap-button {
  background-color: hsl(0, 0%, 60%);
}

.lap-button:hover {
  background-color: hsl(0, 0%, 55%);
}

.lap-time-container {
  border: 3px solid black;
  width: 300px;
  min-height: 300px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  padding: 20px;
  border-radius: 5px;
}

.lap-time-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.lap-time-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  overflow-y: auto;
}

.lap-time-list-item {
  width: 50%;
  box-sizing: border-box;
  padding: 8px 10px;
  border-bottom: 1px solid #ccc;
  font-family: monospace;
  margin-left: 30px;
  font-weight: bold;
}
